
input:focus, input:active {
    border-color: inherit;
    outline: none;
}

::placeholder { 
    color: var(--colors-primary);
}

.input-search {
    font-family: inherit;
    font-size: 18px;

    width: 300px;
    border: none;
    background-color: var(--colors-background-light);
}

.icon-search {
    margin-right: 10px;
}

.search-btn {
    font-family: inherit;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
    background-color: #60ABFF;
    color: #FFF;
}
