.navbar-container {

    width: 60%;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.item {
    padding: 10px 0px;
    font-weight: 700;
    font-size: 13px;
    color: #222731;
}

.logo {
    font-size: 26px;
}

.img-mode {
    margin-left: 10px;
    margin-bottom: -5px;
}

