* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

body {
  font-family: 'Space Mono', monospace;

}

.container {
  background-color: #F6F8FF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}